.login{
    width: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 5% 0% 5% 0%;
    margin: 5% 10%;
}

.flex-vertical{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputIndicator {
    width: 20%;
}

.inputText {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;

}

.loginBtn {
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 5%;
}

.btn {
    background-color: white;
}