.intro {
    background-color: lightgray;
    color: black;
    border-radius: 15px;
    padding: 5%;
    margin: 5% 10%;
}

.logoAndText {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.introTitle{
    color: blue;
    text-align: center;
    margin-bottom: 3%;
}

.remark{
    margin: 5% 10%;
    color: black;
}