body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    color: #666;
    background: url("../images/background.jpg") repeat-x fixed;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0;
    text-align: left;
    background-color: black;
    color: white;
    width: 100%;
    padding: 1% 5%;
}

.footer p {
    margin-bottom: 0;
}