body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: none;
    color: #666;
    background: url("../images/background.jpg") repeat-x fixed;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    margin-bottom: 5.5em;
}

html {
    scroll-behavior: smooth;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1% 5%;
    text-align: left;
    background-color: black;
    color: white;
}

.footer p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #4f67ff;
    transition: 0.15s;
}

a:hover {
    transition: 0.15s;
    color: darkblue;
}