.title {
    text-align: center;
    color: black;
    font-weight: bold;
}

.subTitle {
    /* padding-left: 2%; */
    text-align: left;
    margin-bottom: 1rem;
    border-color: #666;
    font-size: large;
    font-weight: bolder;
}

.stdHP {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 2% 0% 2% 0%;
    margin-top: 3%;
}

.flex-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.inputIndicator {
    text-align: right;
    width: 30%;
    font-weight: bold;
    margin-right: 2%;
}

.inputText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    /* margin-bottom: 2%; */
}

.dropDownItem {
    height: 4%;
    align-items: center;
    padding: 6px 12px;
    border-radius: 0.25rem;
    color: #666;
    /* margin-bottom: 3%; */
}

.declaration {
    color: darkred;
    text-align: justify;
    align-items: center;
    margin: 0% 5%;
}

.btn {
    margin-right: 2%;
}
