<!DOCTYPE html>
<html>
  <head>
    <!-- Link to the external CSS file -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/navBar.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/signUp.css') }}"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <style>
      .profile-pic {
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;

        width: 150px;
        height: 150px;
      }

      .shadow {
        margin: 5px 0 5px 0;
        border-left: solid #d8d8d8 3px;
        border-bottom: solid #b0b0b0 3px;
      }

      .imageFrameOuter {
        border: solid #999 1px;
        margin-bottom: 0px;
      }

      .imageFrameInner {
        border: solid #fff 5px;
        background-color: #fff;
      }
    </style>
    
    <title>Edit Portfolio</title>
  </head>

  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navBar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img
            src="{{ url_for('static', filename='images/tarumt-logo1.png') }}"
            alt=""
            width="172"
            height="56"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('home') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('adminHomepage') }}"
                >View Students</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('adminCompanyPage') }}"
                >View Companies</a
              >
            </li>
          </ul>
          <div style="margin-right: 1rem">
            <a
              class="nav-link"
              aria-current="page"
              href="{{ url_for('adminLogoutApi') }}"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </nav>

    <form action="{{url_for('adminEditPortfolioApi')}}" method="post" id="edit-form" enctype="multipart/form-data">
      <div class="flex-vertical">
        <div>
          <h1 class="title">Edit Portfolio</h1>
        </div>

        <div class="signUp border border-secondary">
          <div class="subTitle" style="margin-bottom: 0%">
            <p style="padding-left: 3%">Personal Data</p>
            <hr />
          </div>

          <div class="flex-vertical">
            
            <div class="inputText mb-3">
              <div class="shadow">
                <div class="imageFrameOuter">
                  <div class="imageFrameInner">
                    <img
                      class="profile-pic"
                      src="{{studentInfo.profile_picture_url}}"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Profile Picture:</p>
              <div class="input-group mb-3">
                <input
                  name="profile_picture"
                  id="profile_picture"
                  type="file"
                  class="form-control"
                  accept="image/png, image/jpeg"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Full Name:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="name"
                  id="name"
                  type="text"
                  class="form-control"
                  placeholder="Name as in NRIC"
                  value="{{studentInfo.name}}"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">NRIC:</p>
              <div class="input-group mb-3">
                <input
                  id="nric"
                  type="text"
                  class="form-control"
                  placeholder="e.g: 999999-99-9999"
                  value="{{studentInfo.nric}}"
                  disabled
                />
              </div>
            </div>

            <div class="inputText">
              <label class="inputIndicator" for="gender">Gender: </label>
              <select
                required
                class="dropDownItem input-group"
                name="gender"
                id="gender"
              >
                <option value="0" selected disabled>
                  &nbsp;Please select one&nbsp;
                </option>
                <option value="Male">&nbsp;Male&nbsp;</option>
                <option value="Female">&nbsp;Female&nbsp;</option>
              </select>
            </div>
            <div style="margin-bottom: 2%"></div>

            <div class="inputText">
              <label class="inputIndicator" for="transport"
                >Own Transport:
              </label>
              <select
                required
                class="dropDownItem input-group"
                name="transport"
                id="transport"
              >
                <option value="0" selected disabled>
                  &nbsp;Please select one&nbsp;
                </option>
                <option value="Yes">&nbsp;Yes&nbsp;</option>
                <option value="No">&nbsp;No&nbsp;</option>
              </select>
            </div>
            <div style="margin-bottom: 2%"></div>
            <div class="inputText">
              <p class="inputIndicator">Health Remark:</p>
              <div class="input-group mb-3">
                <textarea
                  required
                  name="health_remark"
                  id="health_remark"
                  class="form-control"
                  placeholder="Please state the details if you have any physical defects or is your health in any way impaired"
                >
{{studentInfo.health_remark}}</textarea
                >
              </div>
            </div>
          </div>
        </div>

        <div class="signUp border border-secondary">
          <div class="subTitle" style="margin-bottom: 0%">
            <p style="padding-left: 3%">Academic Detail</p>
            <hr />
          </div>

          <div class="flex-vertical">
            <div class="inputText">
              <p class="inputIndicator">Student ID:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="student_id"
                  id="student_id"
                  type="text"
                  class="form-control"
                  placeholder="e.g., 20WMR12345"
                  value="{{studentInfo.student_id}}"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Tutorial Group:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="tutorial_group"
                  id="tutorial_group"
                  type="number"
                  class="form-control"
                  placeholder="e.g., 1 - 5"
                  value="{{studentInfo.tutorial_group}}"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">CGPA:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="cgpa"
                  id="cgpa"
                  step="0.01"
                  type="number"
                  class="form-control"
                  placeholder="e.g., 1.0 - 4.0"
                  value="{{studentInfo.cgpa}}"
                />
              </div>
            </div>

            <div class="inputText">
              <label class="inputIndicator" for="level">Level: </label>
              <select
                required
                class="dropDownItem input-group"
                name="education_level"
                id="level"
              >
                <option value="0" selected disabled>
                  &nbsp;Please select one&nbsp;
                </option>
                {% for each in edulevelList %}
                <option value="{{each[0]}}">{{each[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div style="margin-bottom: 2%"></div>

            <div class="inputText">
              <label class="inputIndicator" for="cohort">Cohort: </label>
              <select
                required
                class="dropDownItem input-group"
                name="cohort"
                id="cohort"
              >
                <option value="0" selected disabled>
                  &nbsp;Please select one&nbsp;
                </option>
                {% for each in cohortList %}
                <option value="{{each[0]}}">{{each[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div style="margin-bottom: 2%"></div>

            <div class="inputText">
              <label class="inputIndicator" for="programme">Programme: </label>
              <select
                required
                class="dropDownItem input-group"
                name="programme"
                id="programme"
              >
                <option value="0" selected disabled>
                  &nbsp;Please select one&nbsp;
                </option>
                {% for each in programmeList %}
                <option value="{{each[0]}}">{{each[2]}} - {{each[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div style="margin-bottom: 2%"></div>

            <div class="inputText">
              <p class="inputIndicator">UC Supervisor:</p>
              <div class="input-group mb-3 specialInput">
                <select
                  required
                  class="dropDownItem input-group"
                  name="supervisor"
                  id="supervisor"
                >
                  <option value="0" selected disabled>
                    &nbsp;Please select one&nbsp;
                  </option>
                  {% for each in supervisorList %}
                  <option value="{{each[0]}}">{{each[1]}} - {{each[2]}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="signUp border border-secondary">
          <div class="subTitle" style="margin-bottom: 0%">
            <p style="padding-left: 3%">Contact Information</p>
            <hr />
          </div>

          <div class="flex-vertical">
            <div class="inputText">
              <p class="inputIndicator">Personal Email:</p>
              <div class="input-group mb-3">
                <input
                  id="email"
                  type="email"
                  class="form-control"
                  placeholder="Any active personal email"
                  value="{{studentInfo.email}}"
                  disabled
                />
              </div>
            </div>
            <div class="inputText">
              <p class="inputIndicator">Term address:</p>
              <div class="input-group mb-3">
                <textarea
                  required
                  name="term_address"
                  id="term_address"
                  class="form-control"
                  placeholder="Current term address"
                >
{{studentInfo.term_address}}</textarea
                >
              </div>
            </div>
            <div class="inputText">
              <p class="inputIndicator">Permanent address:</p>
              <div class="input-group mb-3">
                <textarea
                  required
                  name="permanent_address"
                  id="permanent_address"
                  class="form-control"
                  placeholder="Hometown address"
                >
{{studentInfo.permanent_address}}</textarea
                >
              </div>
            </div>
            <div class="inputText">
              <p class="inputIndicator">Mobile Number:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="mobile_phone"
                  id="mobile_phone"
                  type="text"
                  class="form-control"
                  placeholder="e.g: 012-3456789"
                  value="{{studentInfo.mobile_phone}}"
                />
              </div>
            </div>
            <div class="inputText">
              <p class="inputIndicator">Fixed Number:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="fixed_phone"
                  id="fixed_phone"
                  type="text"
                  class="form-control"
                  placeholder="e.g: 03-123456789"
                  value="{{studentInfo.fixed_phone}}"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="signUp border border-secondary">
          <div class="subTitle" style="margin-bottom: 0%">
            <p style="padding-left: 3%">Technical Knowledge</p>
            <hr />
          </div>
          <div class="flex-vertical">
            <div class="inputText">
              <p class="inputIndicator">Programming Knowledge:</p>
              <div class="input-group mb-3">
                <textarea
                  required
                  name="programming_knowledge"
                  id="programming_knowledge"
                  class="form-control"
                  placeholder="Java, C#, Python"
                >
{{studentInfo.programming_knowledge}}</textarea
                >
              </div>
            </div>
            <div class="inputText">
              <p class="inputIndicator">Database Knowledege:</p>
              <div class="input-group mb-3">
                <textarea
                  required
                  name="database_knowledge"
                  id="database_knowledge"
                  class="form-control"
                  placeholder="Ms SQL, MySQL, MongoDB"
                >
{{studentInfo.database_knowledge}}</textarea
                >
              </div>
            </div>
            <div class="inputText">
              <p class="inputIndicator">Networking Knowledge:</p>
              <div class="input-group mb-3">
                <textarea
                  required
                  name="networking_knowledge"
                  id="networking_knowledge"
                  class="form-control"
                  placeholder="CISCO"
                >
{{studentInfo.networking_knowledge}}</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="signUp border border-secondary">
          <div class="declaration">
            <div class="flex-horizontal">
              <button
                type="submit"
                class="btn btn-success"
                style="font-size: 1.25em; padding: 0.5rem 1rem"
              >
                Confirm Changes
              </button>
              <a
                href="{{ url_for('adminHomepage') }}"
                class="btn btn-danger"
                style="font-size: 1.25em; padding: 0.5rem 1rem"
                >Cancel</a
              >
            </div>
          </div>
        </div>
      </div>
    </form>

    <footer class="footer">
      <p>&#169; 2023 - TARUMT FOCS ITP</p>
    </footer>
  </body>

  <script>

    var jsStudentInfo = {{studentInfo | safe}}
    var jsProgrammeList = {{ programmeListJson | safe}}

    // Filter programme based on selected education level
    const filterProgrammes = (selectedLevelId) => {
        let programmeInput = document.querySelector('#programme')
        programmeInput.innerHTML = "";
        programmeInput.disabled = false;
        jsProgrammeList.filter(each => each[3] == selectedLevelId).forEach(el => {
            programmeInput.innerHTML += `<option value="${el[0]}">${el[2]} - ${el[1]}</option>`;
        });
    }

    document.querySelector('#level').addEventListener('change', e => {
        let selectedLevelId = e.target.value;
        filterProgrammes(selectedLevelId);
    })

    // Run once
    filterProgrammes(jsStudentInfo.education_level_id)
  </script>
  <script>
    // Autoselect options
    var selectionInputs = [
      { id: "gender", value: jsStudentInfo.gender },
      { id: "transport", value: jsStudentInfo.transport },
      { id: "level", value: jsStudentInfo.education_level_id },
      { id: "cohort", value: jsStudentInfo.cohort_id },
      { id: "programme", value: jsStudentInfo.programme_id },
      { id: "supervisor", value: jsStudentInfo.supervisor_id },
    ];

    selectionInputs.forEach((each) => {
      Array.from(document.querySelector("#" + each.id).children).forEach(
        (element) => {
          element.selected = element.value == each.value;
        }
      );
    });
  </script>
  <script>
    // Submit form
    document.querySelector("#edit-form").addEventListener("submit", (e) => {
      e.preventDefault();

      let toBeFocused;
      let valid = true;
      let errorMessage;

      if (document.querySelector("#gender").value == "0") {
        valid = false;
        toBeFocused = "#gender";
        errorMessage = "Please choose a Gender!";
      } else if (document.querySelector("#transport").value == "0") {
        valid = false;
        toBeFocused = "#transport";
        errorMessage = "Please choose a Transport option!";
      } else if (
        !/[0-9]{2}[A-Z]{3}[0-9]{5}/gm.test(
          document.querySelector("#student_id").value
        )
      ) {
        valid = false;
        toBeFocused = "#student_id";
        errorMessage = "Invalid Student ID format!";
      } else if (document.querySelector("#tutorial_group").value <= 0) {
        valid = false;
        toBeFocused = "#tutorial_group";
        errorMessage = "Invalid Tutorial Group Number!";
      } else if (
        document.querySelector("#cgpa").value < 0 ||
        document.querySelector("#cgpa") > 4
      ) {
        valid = false;
        toBeFocused = "#cgpa";
        errorMessage = "Invalid CGPA value!";
      } else if (document.querySelector("#level").value == "0") {
        valid = false;
        toBeFocused = "#level";
        errorMessage = "Please choose an Education Level!";
      } else if (document.querySelector("#cohort").value == "0") {
        valid = false;
        toBeFocused = "#cohort";
        errorMessage = "Please choose a Cohort!";
      } else if (document.querySelector("#programme").value == "0") {
        valid = false;
        toBeFocused = "#programme";
        errorMessage = "Please choose a Programme!";
      } else if (document.querySelector("#supervisor").value == "0") {
        valid = false;
        toBeFocused = "#supervisor";
        errorMessage = "Please choose a Supervisor!";
      } else if (
        !/([0-9-\s]){10,}/gm.test(document.querySelector("#mobile_phone").value)
      ) {
        valid = false;
        toBeFocused = "#mobile_phone";
        errorMessage = "Please Enter a valid Mobile phone!";
      } else if (
        !/([0-9-\s]){10,}/gm.test(document.querySelector("#fixed_phone").value)
      ) {
        valid = false;
        toBeFocused = "#fixed_phone";
        errorMessage = "Please Enter a valid Fixed phone number!";
      }

      if (valid) {
        document.querySelector("#edit-form").submit();
      } else {
        Swal.fire("Oops..", errorMessage, "error").then((res) => {
          document
            .querySelector(toBeFocused)
            .scrollIntoView({ behavior: "smooth" });
          document.querySelector(toBeFocused).focus();
        });
      }
    });
  </script>
</html>
