<!DOCTYPE html>
<html>
  <head>
    <!-- Link to the external CSS file -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/navBar.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/portfolio.css') }}"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Register Company</title>
  </head>

  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navBar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img
            src="{{ url_for('static', filename='images/tarumt-logo1.png') }}"
            alt=""
            width="172"
            height="56"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('home') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('studentHomepage') }}"
                >Portfolio</a
              >
            </li>
          </ul>
          <div style="margin-right: 1rem">
            <a
              class="nav-link"
              aria-current="page"
              href="{{ url_for('logoutApi') }}"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </nav>

    <form
      action="{{url_for('registerCompanyApi')}}"
      method="POST"
      id="register-form"
      enctype="multipart/form-data"
    >
      <div class="flex-vertical">
        <div class="stdHP border border-secondary">
          <div class="subTitle" style="margin-bottom: 0%">
            <p style="padding-left: 3%">Company Details</p>
            <p style="padding-left: 3%; color: red">
              *Please fill in the following details when internship company is
              found.
            </p>
            <hr />
          </div>

          <div class="flex-vertical">
            <div style="margin-bottom: 2%"></div>
            <div class="inputText">
              <label class="inputIndicator" for="company">Company Name: </label>
              <select
                required
                class="dropDownItem input-group"
                name="company"
                id="company"
              >
                <option value="0" selected disabled>
                  &nbsp;Please select one&nbsp;
                </option>
                {% for each in companies %}
                <option value="{{each[0]}}" id="company-{{each[0]}}" data-a1="{{each[2]}}" data-a2="{{each[3]}}">{{each[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div style="margin-bottom: 2%"></div>

            <div class="inputText">
              <p class="inputIndicator">Company Address 1:</p>
              <div class="input-group mb-3">
                <input
                  disabled
                  name="address_1"
                  id="address_1"
                  type="text"
                  class="form-control"
                  value=" - "
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Company Address 2:</p>
              <div class="input-group mb-3">
                <input
                  disabled
                  name="address_2"
                  id="address_2"
                  type="text"
                  class="form-control"
                  value=" - "
                />
              </div>
            </div>
          </div>
          <hr />
          <div class="flex-vertical">
            <div class="inputText">
              <p class="inputIndicator">Monthly Allowance:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="allowance"
                  id="allowance"
                  type="number"
                  class="form-control"
                  placeholder="0"
                  step="1"
                  min="0"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Company Supervisor Name:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="company_sup_name"
                  id="company_sup_name"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Company Supervisor Email:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="company_sup_email"
                  id="company_sup_email"
                  type="email"
                  class="form-control"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Company Acceptance Form:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="acceptance_form"
                  id="acceptance_form"
                  type="file"
                  class="form-control"
                  accept="application/pdf"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Parent Acknowledgement Form:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="ack_form"
                  id="ack_form"
                  type="file"
                  class="form-control"
                  accept="application/pdf"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Letter of Indemnity:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="indemnity_form"
                  id="indemnity_form"
                  type="file"
                  class="form-control"
                  accept="application/pdf"
                />
              </div>
            </div>
          </div>
          <div class="flex-horizontal" style="margin-top: 3%">
            <button type="submit" class="btn btn-success">
              Save And Submit
            </button>
          </div>
        </div>
      </div>
    </form>

    <script>
      // Clear textarea input
      document.querySelectorAll("textarea").forEach((each) => {
        each.value = each.value.trim();
      });

      document.querySelector("#company").addEventListener('change', e => {
        let selectedOptionDOM = document.querySelector('#company #company-' + e.target.value)

        let a1 = selectedOptionDOM.dataset.a1
        let a2 = selectedOptionDOM.dataset.a2
        document.querySelector('#address_1').value = a1
        document.querySelector('#address_2').value = a2
      });

      document
        .querySelector("#register-form")
        .addEventListener("submit", (e) => {
          e.preventDefault();

          document.querySelector("#register-form").submit();
        });
    </script>
  </body>

  <footer class="footer">
    <p>&#169; 2023 - TARUMT FOCS ITP</p>
  </footer>
</html>
