<!DOCTYPE html>
<html>
  <head>
    <!-- Link to the external CSS file -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/navBar.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/portfolio.css') }}"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Submit Report</title>
  </head>

  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navBar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img
            src="{{ url_for('static', filename='images/tarumt-logo1.png') }}"
            alt=""
            width="172"
            height="56"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('home') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('studentHomepage') }}"
                >Portfolio</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('studentSubmitReport') }}"
                >View Reports</a
              >
            </li>
          </ul>
          <div style="margin-right: 1rem">
            <a
              class="nav-link"
              aria-current="page"
              href="{{ url_for('logoutApi') }}"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </nav>

    <form
      action="{{url_for('studentSubmitReportApi')}}"
      method="POST"
      id="register-form"
      enctype="multipart/form-data"
    >
      <div class="flex-vertical">
        <div class="stdHP border border-secondary">
          <div class="subTitle" style="margin-bottom: 0%">
            <p style="padding-left: 3%">Submit Report</p>
            <p style="padding-left: 3%; color: red">
              * Note that you cannot cancel or resubmit your report after the submission was
              done
            </p>
            <hr />
          </div>

          <div class="flex-vertical">
            <div style="margin-bottom: 2%"></div>
            <div class="inputText">
              <label class="inputIndicator" for="reportType"
                >Report Type:
              </label>
              <select
                required
                class="dropDownItem input-group"
                name="reportType"
                id="reportType"
              >
                <option value="0" selected disabled>
                  &nbsp;Please select one&nbsp;
                </option>
                <option value="Progress">Progress Report</option>
                <option value="Final">Final Report</option>
              </select>
            </div>
            <div style="margin-bottom: 2%"></div>

            <div class="inputText">
              <p class="inputIndicator">Report Name:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="reportName"
                  id="reportName"
                  type="text"
                  class="form-control"
                  placeholder="Progress Report May 2023"
                />
              </div>
            </div>

            <div class="inputText">
              <p class="inputIndicator">Report File:</p>
              <div class="input-group mb-3">
                <input
                  required
                  name="reportFile"
                  id="reportFile"
                  type="file"
                  class="form-control"
                  accept="application/pdf"
                />
              </div>
            </div>
          </div>
          <div class="flex-horizontal" style="margin-top: 3%">
            <button type="submit" class="btn btn-success">Submit Report</button>
          </div>
        </div>
      </div>
    </form>

    <script>
      document
        .querySelector("#register-form")
        .addEventListener("submit", (e) => {
          e.preventDefault();

          valid = true;
          errorMsg = "";
          toBeFocused = "";

          if (document.querySelector("#reportType").value == "0") {
            valid = false;
            errorMsg = "Please choose a Report Type!";
            toBeFocused = "reportType";
          }

          if (valid) {
            Swal.fire({
              title: "Are you sure?",
              text: "You cannot cancel or resubmit your report after the submission was done",
              icon: "warning",
              showCancelButton: true,
            }).then(res => {
                if (res.isConfirmed) {
                    document.querySelector("#register-form").submit();
                }
            })
          } else {
            Swal.fire("Oops..", errorMsg, "error").then((res) => {
              document
                .querySelector(toBeFocused)
                .scrollIntoView({ behavior: "smooth" });
              document.querySelector(toBeFocused).focus();
            });
          }
        });
    </script>
  </body>

  <footer class="footer">
    <p>&#169; 2023 - TARUMT FOCS ITP</p>
  </footer>
</html>
