<!DOCTYPE html>
<html>
  <head>
    <!-- Link to the external CSS file -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/navBar.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/studentHomepage.css') }}"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Student Portfolio</title>
  </head>

  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navBar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img
            src="{{ url_for('static', filename='images/tarumt-logo1.png') }}"
            alt=""
            width="172"
            height="56"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{{ url_for('home') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('studentHomepage') }}"
                >Portfolio</a
              >
            </li>
          </ul>
          <div style="margin-right: 1rem">
            <a
              class="nav-link"
              aria-current="page"
              href="{{ url_for('logoutApi') }}"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </nav>

    <div
      class="flexJustify"
      style="flex-direction: column; align-items: center; padding-bottom: 2rem"
    >
      <div>
        <h1><b>Student Portfolio</b></h1>
      </div>
      <div class="flex-horizontal">
        <a href="{{url_for('editPortfolio')}}"
          ><button class="btn btn-success">Edit Portfolio</button></a
        >
      </div>
    </div>
    <div class="flexJustify">
      <div class="flexJustify border border-2 border-secondary portfolio">
        <div class="flexCenter portfolio-left">
          <div class="shadow">
            <div class="imageFrameOuter">
              <div class="imageFrameInner">
           
            <img class="profile-pic"
              src={{studInfo.profile_picture_url}}
            />
              
        </div>
      </div>
    </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Name:</p>
            </div>
            <div class="content">
              <p>{{studInfo.name}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>NRIC:</p>
            </div>
            <div class="content">
              <p>{{studInfo.nric}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Gender:</p>
            </div>
            <div class="content">
              <p>{{studInfo.gender}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Own Transport:</p>
            </div>
            <div class="content">
              <p>{{studInfo.transport}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Health Remark:</p>
            </div>
            <div class="content">
              <p>{{studInfo.health_remark}}</p>
            </div>
          </div>          

          <div class="sub-title">
            <h5>Contact Information</h5>
            <hr />
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Email:</p>
            </div>
            <div class="content">
              <p>{{studInfo.email}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Term Address:</p>
            </div>
            <div class="content">
              <p>{{studInfo.term_address}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Permanent Address:</p>
            </div>
            <div class="content">
              <p>{{studInfo.permanent_address}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Mobile Number / Fixed Number:</p>
            </div>
            <div class="content">
              <p>{{studInfo.mobile_phone}} / {{studInfo.fixed_phone}}</p>
            </div>
          </div>

          <div class="sub-title">
            <h5>Skills</h5>
            <hr />
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Programming Knowledge:</p>
            </div>
            <div class="content">
              <p>{{studInfo.programming_knowledge}}</p>
            </div>
          </div>
          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Database Knowledge:</p>
            </div>
            <div class="content">
              <p>{{studInfo.database_knowledge}}</p>
            </div>
          </div>
          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Networking Knowledge:</p>
            </div>
            <div class="content">
              <p>{{studInfo.networking_knowledge}}</p>
            </div>
          </div>
        </div>

        <div class="divider"></div>

        <div class="flexCenter portfolio-right">
          <div class="sub-title">
            <h5>Academic Detail</h5>
            <hr />
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Student ID:</p>
            </div>
            <div class="content">
              <p>{{studInfo.student_id}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Tutorial Group:</p>
            </div>
            <div class="content">
              <p>{{studInfo.tutorial_group}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>CGPA:</p>
            </div>
            <div class="content">
              <p>{{studInfo.cgpa}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Level:</p>
            </div>
            <div class="content">
              <p>{{studInfo.education_level_name}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Programme:</p>
            </div>
            <div class="content">
              <p>{{studInfo.programme_code}} - {{studInfo.programme_name}}</p>
            </div>
          </div>
          
          <div class="sub-title">
            <h5>Internship Information</h5>
            <hr />
          </div>
          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Cohort:</p>
            </div>
            <div class="content">
              <p>{{studInfo.cohort_name}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Intern Period:</p>
            </div>
            <div class="content">
              <p>{{studInfo.cohort_period}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>UC Supervisor:</p>
            </div>
            <div class="content">
              <p>{{studInfo.supervisor_name}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>UC Supervisor Email:</p>
            </div>
            <div class="content">
              <p>{{studInfo.supervisor_email}}</p>
            </div>
          </div>

          <div class="sub-title">
            <h5>Company Information</h5>
            <hr />
          </div>

          {% if companyInfo %}

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Company Name:</p>
            </div>
            <div class="content">
              <p>{{companyInfo.name}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Company Address 1:</p>
            </div>
            <div class="content">
              <p>{{companyInfo.address_1}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Company Address 2:</p>
            </div>
            <div class="content">
              <p>{{companyInfo.address_2}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Monthly Allowance:</p>
            </div>
            <div class="content">
              <p>RM {{companyInfo.monthly_allowance}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Company Supervisor Name:</p>
            </div>
            <div class="content">
              <p>{{companyInfo.company_supervisor_name}}</p>
            </div>
          </div>

          <div class="flexJustify item-container">
            <div class="indicator">
              <p>Company Supervisor Email:</p>
            </div>
            <div class="content">
              <p>{{companyInfo.company_supervisor_email}}</p>
            </div>
          </div>

          {% else %}

          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
          >
            <p>Looks Like you haven't registered any company...</p>
            <a href="{{url_for('registerCompany')}}"
              ><button class="btn btn-success">Register here</button></a
            >
          </div>

          {% endif %}
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>&#169; 2023 - TARUMT FOCS ITP</p>
    </footer>

    {% if updateSuccess %}
    <div id="updateSuccess" style="display: none"></div>
    {% endif %}

    <script>
      if (document.querySelector("#updateSuccess")) {
        Swal.fire(
          "Update Succesful!",
          "Your details have been updated.",
          "success"
        );
      }
    </script>
  </body>
</html>
